@media (max-width: 991px) {
    body {
        font-family: Helvetica;
    }

    .nav-item {
        padding-left: 10px;
    }

    #btn {
        width: 50%;
    }

    .navbar {
        z-index: 1000;
    }

    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
        padding: 20px;
    }

    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .35s ease;
        left: 50%;
    }

    #car {
        width: 430px;
        align-items: flex-end;
    }

    #gambar {
        width: 300px;
    }

    img.star {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .font-car {
        padding-top: 30px;
        font-size: 40px;
    }

    .font-car-2 {
        padding-top: 50px;
    }

    h3 {
        text-align: left;
    }

    p {
        text-align: left;
    }

    h2 {
        text-align: center;
    }

    #h2 {
        text-align: left;
    }

    .sub_judul {
        text-align: center;
        padding-top: 16px;
    }

    .box-sewa {
        height: 430px;
    }

    #box {
        height: 80%;
    }

    #container-slider {
        width: 80%;
        left: 0px;
    }

    .swiper-button-next {
	    padding-right: 190px;
    }
    .swiper-button-prev {
        padding-left: 200px;
    }

    .testimonial-text {
        display: flex;
    }

    .footer {
        padding-top: 20px;
    }

    .star {
        align-items: center;
    }

    .drawer-navbar {
        background-color: white;
    }

    .drawer-navbar-header {
        background-color: white;
    }

    .drawer-navbar .drawer-navbar--fixed {
        background-color: white;
    }
    .drawer-navbar .drawer-menu {
        background-color: white;
    }
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

body {
	font-family: Helvetica;
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
}

h2 {
	font-family: Helvetica;
    font-weight: bold;
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
}

h4 {
	font-weight: bold;
}

h5 {
	font-weight: bold;
}

h6 {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: lighter;
}

.font-car-2{
    padding-top: 20px;
    padding-right: 100px;
}

#car {
    padding-top: 30px;
    padding-left: 50px;
}

.checklist {
    padding-right: 12px;
}

.head {
    background-color: #F1F3FF;
	width: 100%;
	overflow: hidden;
}

.box {
    padding: 25px;
    background: #fff;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 8px;
  }

.box-sewa {
    padding: 75px 50px;
    height: 100%;
    margin: auto;
    background: #0D28A6;
    border-radius: 13px;
}

.box-sewa p {
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.box-sewa h2 {
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.dropdown {
    background-color: white;
}

.accordion-item {
    margin-bottom: 20px;
}

section{
	float: center;
	padding: 30px 0;
	width: 100%;
	align-content: center;
    overflow: hidden;
}

.section-title{
	width: 100%;
}


#star {
    padding-right: 10px; 
    padding-bottom:10px;
}

.swiper-container {
	width: 130%;
	overflow: hidden;
    left: -215px;
}

.testimonial-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.5;
}

.testimonial-text {
	padding: 69px 32px;
	overflow:hidden;
	background: #F1F3FF;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}

.testimonial-carousel .swiper-slide{
	padding: 30px 0;
}

.swiper-slide-active .testimonial-item{
	opacity: 1;
	transform: scale(1.0);
}

@media (min-width: 992px){
    .swiper-button-next {
	    padding-right: 720px;
    }
    .swiper-button-prev {
        padding-left: 720px;
    }
}

.card-body {
	font-size: 14px;
}

.swiper-button-prev:after {
	color: transparent;
}

.swiper-button-next:after {
	color: transparent;
}
